@model IEnumerable<WebApplication1.Models.Comment>
@{
    ViewBag.Title = "ListAllComments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2> @ViewBag.LessionName / All Comments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @((item.Lession != null) ? item.Lession.Name : "")
            </td>
            <td>
                @((item.User != null) ? item.User.UserName : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CommentId, controller = "Comments"}) |
                @Html.ActionLink("Details", "Details", new {id = item.CommentId, controller = "Comments" }) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CommentId, controller = "Comments" }) |                
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
