@model WebApplication1.Models.Rating

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lession.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lession.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
