@using WebApplication1.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Services Section -->


<!-- Khoa Hoc Co Ban Section -->
<section id="khoahoccoban" class="portfolio bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">CHI TIẾT CÁC KHÓA HỌC CƠ BẢN</h2>
                <h3 class="section-subheading text-muted">Cập nhật thường xuyên</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in (List<Course>)ViewBag.CourseEasy)
            {
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="../Course/Index?id=@item.CourseId" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="water-mark">
                            <h3>
                                @item.Name
                            </h3>
                        </div>
                        <img class="modal-img img-responsive" src="@Html.Raw(item.ImageLink)" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>@item.Name</h4>
                        <p class="text-muted">@item.TuitionFee $</p>
                    </div>
                </div>
            }
            
            
        </div>
    </div>
</section>

<!-- Khoa Hoc Nang Cao Section -->
<section id="khoahocnangcao" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">CHI TIẾT CÁC KHÓA HỌC NÂNG CAO</h2>
                <h3 class="section-subheading text-muted">Cập nhật thường xuyên</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in (List<Course>)ViewBag.CourseMedium)
            {
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="../Course/Index?id=@item.CourseId" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="watermurk">
                            <h3>
                                @item.Name
                            </h3>
                        </div>
                        <img class="modal-img img-responsive" style="width:100%" src="@Html.Raw(item.ImageLink)" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>@item.Name</h4>
                        <p class="text-muted">@item.TuitionFee $</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Khoa Hoc Fresher Junior Section -->
<section id="khoahocfresher-junior" class="portfolio bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">CHI TIẾT CÁC KHÓA HỌC FRESHER - JUNIOR</h2>
                <h3 class="section-subheading text-muted">Cập nhật thường xuyên</h3>
            </div>
        </div>
        <div class="row">
           @foreach (var item in (List<Course>)ViewBag.CourseHard)
            {
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="../Course/Index?id=@item.CourseId" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="water-mark">
                        <h3>
                            @item.Name
                        </h3>
                    </div>
                    <img class="modal-img img-responsive" src="@Html.Raw(item.ImageLink)" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>@item.Name</h4>
                    <p class="text-muted">@item.TuitionFee $</p>
                </div>
            </div>
           }
        </div>
    </div>
</section>





<style>
    .watermurk {

    width: 100%;
	position: absolute;
	opacity: 0.85; 
	background: #34bdf0;
	color: white;
	overflow: hidden;
    height: 62px;   
    text-align: center;
   
}
	
</style>