@model IEnumerable<Lession>
@using WebApplication1.Models

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Course course = ViewBag.Course;
}



<!-- Page Content -->
<div class="container"  style="margin-top: 80px">

    <h2 class="text-center">@course.Name</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="row text-center">
                <div class="col-lg-12">
                    <img class="modal-img img-responsive" style="width: 100%;" src="@Html.Raw(course.ImageLink)" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <strong>Tên khóa học:</strong>
                </div>
                <div class="col-lg-4">
                    <small class="text-info">@course.Name</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <strong >Nền tảng</strong>
                </div>
                <div class="col-lg-4">
                    <small class="text-info">@course.Platform.Name</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <strong>Độ khó</strong>
                </div>
                <div class="col-lg-4">
                    <small class="text-info">@course.Level</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <strong>Giới thiệu</strong>
                </div>
                <div class="col-lg-4">
                    <small class="text-info">@Html.Raw(course.Introduction)</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <strong class="">Tùy chọn</strong>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-6 text-right">
                    @Html.ActionLink("Hủy đăng kí", "Unenrol", new {controller = "Course", id = course.CourseId}, new {@class= "btn btn-danger btn-lg" })                    
                </div>
                <div class="col-lg-6 text-left">
                    @Html.ActionLink("Kiểm tra đầu vào", "Unenrol", new { controller = "Course" }, new { @class = "btn btn-success btn-lg" })                    
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <h1>Danh sách các bài học trong khóa học: @ViewBag.CourseName</h1>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        @foreach (var lession in Model)
        {
            <div class="col-md-4">
                <h2>@lession.Name</h2>
                <p>@lession.Description</p>
                <a class="btn btn-default" href="../Lession/Index?id=@lession.LesionId">More Info</a>
            </div>
        }


    </div>
    <!-- /.row -->


    <hr>


</div>
